<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{handler.title()}}</title>
    <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{static_url('css/bootstrap-theme.min.css')}}">
    <script>
     _xsrf = "{{handler.xsrf_token}}"
    </script>
    {% block head-css%}{%end%}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" style="opacity: .9" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{handler.reverse_url('adminHome')}}">Monklof Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="{{handler.reverse_url('home')}}">Blog</a></li>
            <li><a href="https://github.com/monklof">GitHub</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {% block content%}{% end%}

    <script src="{{static_url('js/jquery.min.js')}}"></script>
    <script src="{{static_url('js/bootstrap.min.js')}}"></script>
    <script >
          window.dataObj = new Object();
     window.dataObj._xsrf = "{{handler.xsrf_token}}";
     jQuery.postJson = function(url, args, successCall, errorCall){
       $.ajax({
         type:"post",
         url:url,
         data:JSON.stringify(args),
         contentType:"application/json; charset=UTF-8",
         success:successCall,
         error:errorCall
       });
     }
    </script>
    {% block tail-js%}{% end%}
  </body>
</html>
